In [15]:
import requests
import defs
import pandas as pd

In [2]:
#creating session for requests to load server faster
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"
url

'https://api-fxtrade.oanda.com/v3/accounts/001-001-8809011-001/instruments'

In [4]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)
response.status_code

200

In [6]:
data = response.json()

In [7]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [8]:
instruments = data['instruments']

In [11]:
len(instruments)

68

In [12]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [35]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [36]:
for item in instrument_data[5:15]:
    print(item)

{'name': 'CAD_JPY', 'type': 'CURRENCY', 'displayName': 'CAD/JPY', 'pipLocation': -2, 'marginRate': '0.02'}
{'name': 'EUR_HUF', 'type': 'CURRENCY', 'displayName': 'EUR/HUF', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'AUD_NZD', 'type': 'CURRENCY', 'displayName': 'AUD/NZD', 'pipLocation': -4, 'marginRate': '0.03'}
{'name': 'USD_CHF', 'type': 'CURRENCY', 'displayName': 'USD/CHF', 'pipLocation': -4, 'marginRate': '0.04'}
{'name': 'CAD_SGD', 'type': 'CURRENCY', 'displayName': 'CAD/SGD', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'EUR_TRY', 'type': 'CURRENCY', 'displayName': 'EUR/TRY', 'pipLocation': -4, 'marginRate': '0.25'}
{'name': 'USD_JPY', 'type': 'CURRENCY', 'displayName': 'USD/JPY', 'pipLocation': -2, 'marginRate': '0.02'}
{'name': 'EUR_HKD', 'type': 'CURRENCY', 'displayName': 'EUR/HKD', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'GBP_HKD', 'type': 'CURRENCY', 'displayName': 'GBP/HKD', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'GBP_NZD', 'type': 'CURRENCY', 'displayName': 'GBP/NZD', 'pipLocation': -4, 'marginRate': '0.03'}

In [37]:
instrument_df = pd.DataFrame(instrument_data)

In [38]:
instrument_df

       name      type displayName  pipLocation marginRate
0   USD_HUF  CURRENCY     USD/HUF           -2       0.05
1   NZD_SGD  CURRENCY     NZD/SGD           -4       0.05
2   GBP_ZAR  CURRENCY     GBP/ZAR           -4       0.07
3   AUD_USD  CURRENCY     AUD/USD           -4       0.03
4   USD_ZAR  CURRENCY     USD/ZAR           -4       0.07
..      ...       ...         ...          ...        ...
63  EUR_AUD  CURRENCY     EUR/AUD           -4       0.03
64  TRY_JPY  CURRENCY     TRY/JPY           -2       0.25
65  USD_SGD  CURRENCY     USD/SGD           -4       0.05
66  EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
67  SGD_JPY  CURRENCY     SGD/JPY           -2       0.05

[68 rows x 5 columns]

In [39]:
instrument_df.to_pickle('instruments.pkl')